<div class="form-data">
    <form action="/courses/create" method="POST">
    <label for="txtTitle">Title</label>
    <input type="text" name="title" id="txtTitle" autofocus required>
    <label for="txtDescription">Email</label>
    <input type="text" name="description" id="txtDescription" required>
    <label for="txtMaxStudents">Maximum number of students</label>
    <input type="number" name="maxStudents" id="txtMaxStudents" required>
    <label for="txtCost">Cost</label>
    <input type="number" name="cost" id="txtCost" required>
    <button type="submit">Create</button>
</form>
</div>