<div class="container">
    <div class="col-sm-6">
        <img src="images/people.jpg">
    </div>
    <div class="col-sm-6">
        <h1>Welcome to Confetti Cuisine</h1>
        <p>Please chech out our cool courses by our creative chefs.</p>
        <p>If you want to see a new course, click <a href="/courses">the course page.</a></p>
        <p>When you see a course that you like, you can <a href="/contact">contact us.</a></p>
    </div>
    
</div>