<div class="form-data">
    <form action="/subscribers/${subscriber._id}/update?_method-PUT" method="POST">
    <label for="txtName">Name</label>
    <input type="text" name="name" id="txtName" autofocus required value="<%= subscriber.name %>">
    <label for="txtEmail">Email</label>
    <input type="text" name="email" id="txtEmail" required value="<%= subscriber.email %>">
    <label for="txtZipCode">ZipCode</label>
    <input type="text" name="ZipCode" id="txtZipCode" required value="<%= subscriber.zipCode %>">
    <button type="submit">Save</button>
</form>
</div>