<div class="form-data">
    <form action="/users/create" method="POST">
    <label for="txtFirstName">First Name</label>
    <input type="text" name="name" id="txtFirstName" autofocus required>
    <label for="txtLastName">Last Name</label>
    <input type="text" name="name" id="txtLastName" required>
    <label for="txtEmail">Email</label>
    <input type="text" name="email" id="txtEmail" required>
    <label for="txtPassword">Password</label>
    <input type="password" name="password" id="txtPassword" required>
    <label for="txtZipCode">ZipCode</label>
    <input type="text" name="ZipCode" id="txtZipCode" required>
    <button type="submit">Create</button>
</form>
</div>